@import "../vars.scss";
header {
  top: 0;
  height: 64px;
  width: 100%;
  position: fixed;
  background: #fff;
  z-index: 999;
  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    &:before,
    &:after {
      display: none;
    }
  }
}
app-authorized-user {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: row-reverse;
  @media (min-width: 992px) {
    width: 200px;
  }
}
app-navigation {
  width: 100%;
}
.testAssignment {
  margin-top: 64px;
  background: url("../assets/imgs/bg-1.jpg") 50% 30% no-repeat;
  background-size: 147%;
  color: #fff;
  .container .row {
    margin: 134px -16px 141px;
  }
  .wrap p {
    margin: 21px 0 36px;
    font-size: 20px;
    letter-spacing: 0.3px;
    line-height: 26px;
  }
  h1 {
    color: #ffffff;
    font-family: $Overpass;
    font-size: 50px;
    margin: 0;
    line-height: 1.17;
  }
  button.fill {
    width: 290px;
    height: 40px;
    border-radius: 4px;
    background-color: $primary-color;
    border: 0px;
    color: #fefefe;
    font-size: 20px;
    font-weight: 700;
    &:active,
    &:focus {
      box-shadow: none;
    }
    &:hover {
      background-color: $primary-ligth-color;
    }
    &:disabled {
      background-color: #d7d7d7;
      color: #8d8c8c;
    }
  }
}

.quainted {
  .img-wrap {
    padding: 20px 15px 17px 50px;
  }

  h2 {
    text-align: center;
    margin: 139px 0 32px;
  }
  h3 {
    font-size: 26px;
    font-weight: bold;
    font-family: $Overpass;
    word-spacing: -1px;
    margin-bottom: 8px;
  }
  .wrap {
    margin-bottom: -10px;
  }
  p {
    color: #4c4b4b;
    font-family: "Source Sans Pro";
    font-size: 16px;
    margin-bottom: 20px;
    // &:nth-last-of-type(1) {
    //     margin-bottom: 10px;
    // }
  }
  a.sign-up {
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-weight: 700;
    color: $primary-color;
    &:hover {
      text-decoration: none;
    }
  }
}

#relationships {
  margin-bottom: 127px;

  h2 {
    max-width: 542px;
    text-align: center;
    margin: 54px auto 47px;
    line-height: 1.2;
  }
  p {
    color: #4c4b4b;
    font-family: "Source Sans Pro";
    font-size: 16px;
    word-spacing: 0.3px;
  }
}

#requirements {
  background: url("../assets/imgs/bg-2.jpg") 50% 50% no-repeat;
  background-size: 100%;
  color: #fff;
  padding: 120px 0 98px;
  h2 {
    color: #fff;
    font-weight: bold;
    font-family: $Overpass;
    margin-bottom: 42px;
  }
  p {
    color: #fefefe;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .svg-wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
  }
  .man-laptop-v2 {
    display: none;
  }
}

footer {
  background-color: $secondary-color;
  color: #fff;
  .footer-top {
    height: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5674b9;
    margin-bottom: 26px;
    &:before,
    &:after {
      display: none;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .menu {
    li {
      float: left;
      padding-left: 30px;
    }
  }
  a {
    color: #fff;
    font-size: 16px;
    &:hover {
      text-decoration: none;
    }
  }
  .contacts {
    padding-left: 33px;
    float: left;
    svg-icon {
      position: absolute;
      left: -33px;
    }
    a {
      position: relative;
      font-size: 20px;
    }
    .contact {
      margin-bottom: 15px;
    }
  }
  .nav {
    text-align: right;
    float: right;
    & > li {
      float: right;
      margin-left: 122px;
    }
    li li {
      margin-bottom: 8px;
    }
  }
  .copy {
    float: left;
    font-size: 12px;
    margin-top: 23px;
  }
  .social {
    margin: 17px 0 27px;
    float: right;
    li {
      float: right;
      margin-left: 22px;
    }
  }
}

// footer a:hover {
//   color: $primary-color !important;
//   svg {
//     fill: $primary-color !important;
//   }
// }

@media (max-width: 1200px) {
  .testAssignment {
    background-position: 12% 0%;
    background-size: 137%;
    .wrap p {
      margin-bottom: 42px;
    }
    .container .row {
      margin-bottom: 158px;
    }
  }
  .quainted {
    .img-wrap {
      padding: 0 15px;
    }
    .sign-up {
      display: block;
      margin-top: 40px;
    }
  }
  #relationships {
    margin-bottom: 138px;
    h2 {
      margin-top: 116px;
    }
  }
  #requirements {
    background-size: 110%;
    background-position: 0 10%;
    padding-bottom: 160px;
    h2 {
      margin-top: 29px;
    }
  }
  footer .nav > li {
    margin-left: 97px;
  }
}
@media (max-width: 992px) {
  .authorized-user-wrapper {
    display: none;
  }
  .testAssignment {
    .container .row {
      margin: 115px 0 118px;
    }
    .col-sm-6 {
      padding: 0;
    }
    h1 {
      font-size: 42px;
      width: 375px;
      line-height: 1.2;
    }
    .wrap {
      p {
        font-size: 18px;
        width: 387px;
        letter-spacing: inherit;
        line-height: 1.3;
      }
    }
  }
  .quainted {
    h2 {
      margin-top: 116px;
    }
    .sign-up {
      margin-top: 27px;
    }
  }
  #relationships {
    margin-bottom: 75px;
    h2 {
      margin-top: 124px;
    }
    .col-md-4 {
      clear: both;
    }
    svg-icon {
      width: 188px;
      float: left;
    }
  }
  #requirements {
    padding-bottom: 88px;
    background: url("../assets/imgs/third-block-bg/third-block-bg-1024x755.jpg")
      0 50% no-repeat;
    h2 {
      width: 425px;
      margin: 0 auto 50px;
      text-align: center;
    }
    .man-laptop-v1 {
      display: none;
    }
    .man-laptop-v2 {
      display: block;
    }
  }
  footer .nav > li {
    margin-left: 47px;
  }
  footer .contacts {
    padding: 0;
  }
  .contact svg-icon {
    display: none;
  }
}
@media (max-width: 788px) {
  #requirements {
    background: url("../assets/imgs/third-block-bg/third-block-bg-768x878.jpg");
  }
}
@media (max-width: 767px) {
  .testAssignment {
    h1 {
      font-size: 30px;
      width: auto;
    }
    .container .row {
      margin: 50px 0;
    }
    .wrap {
      p {
        width: auto;
        font-size: 16px;
      }
      h1 {
        font-size: 30px;
        width: auto;
      }
    }
  }
  .quainted {
    h2 {
      margin: 75px 0 20px;
      font-size: 26px;
    }
    h3 {
      font-size: 22px;
    }
    p {
      font-size: 16px;
    }
    .img-wrap {
      display: flex;
      justify-content: center;
      svg-icon {
        width: 219px;
      }
    }
  }
  #relationships {
    margin-bottom: 50px;
    h2 {
      font-size: 26px;
      margin-top: 50px;
    }
    h3 {
      font-size: 22px;
    }
    svg-icon {
      width: 100%;
      float: none;
      display: flex;
      justify-content: center;
    }
  }
  #requirements {
    padding: 70px 0 30px;
    h2 {
      width: 260px;
      margin: 0 auto 50px;
      font-size: 25px;
    }
    .row {
      display: flex;
      flex-direction: column;
      h2 {
        order: 1;
      }
      .text {
        order: 3;
      }
      .svg-wrap {
        order: 2;
      }
    }
    .man-laptop-v1 {
      display: block;
    }
    .man-laptop-v2 {
      display: none;
    }
    .svg-wrap {
      margin-bottom: 20px;
    }
  }
  footer {
    .nav {
      display: none;
    }
    .menu li {
      float: none;
    }
    .footer-top {
      display: block;
      height: auto;
      .menu {
        margin-bottom: 15px;
        li {
          padding-left: 0;
        }
      }
    }
    .contacts {
      float: none;
    }
    .social {
      float: none;
      display: flex;
      justify-content: center;
      li {
        margin: 0 11px;
      }
    }
    .copy {
      float: none;
    }
  }
}
@media (max-width: 480px) {
  .testAssignment {
    background-size: 200%;
    .container .row {
      margin: 66px 0;
    }
    .wrap {
      p {
        margin: 7px 0 38px;
      }
    }
  }
  .quainted {
    h3 {
      width: 200px;
      margin: 18px auto;
    }
    .img-wrap {
      svg-icon {
        height: 239px;
      }
    }
  }
  // -------
  #relationships {
    margin-bottom: 50px;
    h2 {
      margin: 50px 0 27px;
    }
    h3 {
      margin-top: 5px;
    }
    p {
      margin-bottom: 17px;
    }
  }
  #requirements {
  }
  footer {
    padding-bottom: 15px;
    .menu li {
      margin-bottom: 8px;
    }
    .social {
      margin: 0;
    }
    .copy {
      margin: 0 0 23px;
    }
  }
}
@media (max-width: 320px) {
  .testAssignment {
    background-size: 100%;
    background: url("../assets/imgs/third-block-bg/third-block-bg-320x1031.jpg");
  }
}
