@import "assets/grid/bootstrap.min.css";
@import "vars.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "fonts.css";
.clerfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #fff;
  font-family: "Source Sans Pro";
}
p {
  margin: 0;
}
h1,
h2,
h3,
.attention {
  line-height: 0.95;
  padding-bottom: 0.05em;
}
h2 {
  color: #000000;
  font-family: "Overpass";
  font-size: 42px;
  text-align: center;
  font-weight: bold;
}
.attention {
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 18px;
  margin-top: 15px;
}
input.form-control {
  height: 56px;
  border-radius: 4px;
  border: 1px solid #b7b7b7;
  box-shadow: none;
}
.logo {
  svg.icon {
    width: 134px;
  }
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0;
}
.mat-form-field-label {
  display: none;
}
.pos-select {
  border-color: #666;
  .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    display: none;
  }
}
footer svg-icon svg {
  fill: #fff;
}
h3 {
  font-size: 26px;
  font-weight: bold;
  font-family: "Overpass";
  word-spacing: -1px;
  margin-bottom: 8px;
}
.mat-form-field-should-float .mat-form-field-label {
  display: none !important;
}
.mat-select-panel {
  margin-top: -7px;
  border-radius: 0px;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}
.mat-select-placeholder {
  display: none;
}
button.fill {
  width: 290px;
  height: 40px;
  border-radius: 4px;
  background-color: $primary-color;
  border: 0px;
  color: #fefefe;
  font-size: 20px;
  font-weight: 700;
  &:hover {
    background-color: $primary-ligth-color;
  }
  &:disabled {
    background-color: #d7d7d7;
    color: #8d8c8c;
  }
}
footer a {
  svg {
    fill: #fff;
  }
}
footer a:hover {
  color: $primary-color !important;

  svg {
    fill: $primary-color !important;
  }
}
#man-mobile {
  height: 285px;
}
svg.icon {
  width: 25px;
  height: 25px;
}
#relationships {
  svg.icon {
    width: 100px;
    height: 114px;
  }
}
@media (min-width: 992px) {
  #css,
  #html,
  #javascript {
    height: 115px;
  }
}
@media (max-width: 992px) {
  #man-mobile {
    transform: scale(0.77);
    margin: -17px 0 0 -35px;
    height: 300px;
  }
  #css,
  #html,
  #javascript {
    transform: scale(0.9);
    margin: -10px 0 5px 47px;
  }
  #relationships {
    svg.icon {
      width: 100px;
      height: 152px;
    }
  }
}
@media (max-width: 767px) {
  body {
    text-align: center;
  }

  #css,
  #html,
  #javascript {
    margin: 0 auto;
    width: 100px;
    height: 115px;
  }
  .footer-top svg {
    margin: 15px;
  }
}

@media (max-width: 480px) {
  .man-laptop-v1 {
    justify-content: center;
    height: 200px;
  }
  .man-laptop-v1 svg {
    // width: 200px !important;
    // height: 240px !important;
    margin-top: -96px;
    transform: scale(0.6);
  }
  #relationships svg.icon {
    height: 116px;
  }
}
