<h2 read-more>Register to get a work</h2>
<p class="attention" read-more [maxHeightObj]="{ sm: 60 }">
  Attention! After successful registration and alert, update the list of users
  in the block from the top
</p>
<div class="container">
  <div class="row">
    <form [formGroup]="userRegForm" novalidate (submit)="submit($event)">
      <div
        class="form-group col-sm-4"
        [ngClass]="{
          'has-error':
            userRegForm.get('name').invalid && validateOnChanges('name'),
          'has-success': userRegForm.get('name').valid
        }"
      >
        <label for="name">Name</label>
        <input
          type="text"
          formControlName="name"
          id="name"
          class="form-control"
          placeholder="Your name"
        />
        <p
          class="error-msg"
          *ngIf="
            userRegForm.get('name').errors?.minlength ||
            userRegForm.get('name').errors?.maxlength
          "
        >
          The name must be from 2 to 60 characters
        </p>
        <p class="error-msg" *ngIf="userRegForm.get('name').errors?.required">
          Name is required
        </p>
      </div>
      <div
        class="form-group col-sm-4"
        [ngClass]="{
          'has-error':
            userRegForm.get('email').invalid && validateOnChanges('email'),
          'has-success': userRegForm.get('email').valid
        }"
      >
        <label for="email">Email</label>
        <input
          type="email"
          formControlName="email"
          id="email"
          class="form-control"
          placeholder="Your email"
        />
        <p class="error-msg" *ngIf="userRegForm.get('email').errors?.pattern">
          Email is not valid
        </p>
        <p class="error-msg" *ngIf="userRegForm.get('email').errors?.required">
          Email is required
        </p>
      </div>
      <div
        class="form-group col-sm-4"
        [ngClass]="{
          'has-error':
            userRegForm.get('phone').invalid && validateOnChanges('phone'),
          'has-success': userRegForm.get('phone').valid
        }"
      >
        <label for="phone">Phone</label>
        <input
          type="text"
          formControlName="phone"
          id="phone"
          class="form-control"
          placeholder="+38 (0) 000 00 00"
          prefix="+38 (0"
          mask="00) 000 00 00"
          value="000000000"
          [showMaskTyped]="true"
        />
        <p class="error-msg" *ngIf="userRegForm.get('phone').errors?.minlength">
          The phone should start with the code of Ukraine +380 and have 9 digits
        </p>
        <p class="error-msg" *ngIf="userRegForm.get('phone').errors?.required">
          Phone is required
        </p>
      </div>
      <div
        class="col-sm-6 form-group"
        [ngClass]="{
          'has-error':
            userRegForm.get('position_id').invalid &&
            validateOnChanges('position_id'),
          'has-success': userRegForm.get('position_id').valid
        }"
      >
        <mat-form-field class="pos-select">
          <mat-label>Select your position</mat-label>
          <mat-select formControlName="position_id">
            <mat-option
              role="option"
              *ngFor="let pos of positions"
              [value]="pos.id"
            >
              {{ pos.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <p
          class="error-msg"
          *ngIf="userRegForm.get('position_id').errors?.required"
        >
          Position is required
        </p>
      </div>
      <div
        class="form-group col-sm-6"
        [ngClass]="{
          'has-error':
            userRegForm.get('photo').invalid && validateOnChanges('photo'),
          'has-success': userRegForm.get('photo').valid
        }"
      >
        <label for="file" style="display: none">1</label>
        <input
          id="file"
          type="file"
          class="form-control photo"
          #inputFile
          (change)="changeFile()"
          formControlName="photo"
          accept="image/jpg,image/jpeg"
          (change)="onFileChange($event)"
        />
        <label for="file2" style="display: none">1</label>
        <input
          id="file2"
          type="text"
          [value]="inputValue || ''"
          class="form-control file"
        />

        <button (click)="uploadFile($event)" class="upload" *ngIf="small">
          <app-icon name="upload"></app-icon>
        </button>
        <button (click)="uploadFile($event)" class="upload" *ngIf="!small">
          Upload
        </button>
        <p
          class="error-msg file"
          *ngIf="userRegForm.get('photo').errors?.incorrect"
        >
          There should be one photo have a minimum resolution of 70x70 pixels,
          and be no more than 5 megabytes.
        </p>
        <p
          class="error-msg file"
          *ngIf="userRegForm.get('photo').errors?.required"
        >
          Photo is required
        </p>
      </div>
      <div class="clearfix"></div>
      <button
        type="submit"
        (click)="submit($event)"
        class="sign-up fill"
        [disabled]="userRegForm.status === 'INVALID'"
      >
        Sign Up
      </button>
    </form>
  </div>
</div>
<app-modal
  [content]="modalContent"
  class="{{ modalContent.length ? 'active' : '' }}"
  (onClose)="closeModal()"
></app-modal>
